# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Local overrides
*.local.yaml
secrets/

# Machine-specific config (created by setup.cmd/setup.sh)
windows/bin/wt-config.cmd
windows/scripts/wt-config.sh
